*{
    padding: 0;
    margin: 0;
}

/************************************* navbar ******************************************/
.navbar img{
    width: 60px;
}
.navbar .content{
    padding: 15px 80px;
}
.navbar ul{
    gap: 15px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show.nav-link {
    color: rgba(0,0,0,.9);
    border-bottom: 3px solid ;
    padding-bottom: 3px;
}

.navbar .btn-dark{
    margin-right: 12px;
}
.navbar .btn{
    border-radius: 4px;
}
/************************************* first ******************************************/

.first{
    background-image: url(../assets/imgs/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.first .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    color: white;

}


.first .content p{
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: bold;
}
.first .content button{
    padding: 10px 60px;
    font-weight: 700;
    border-radius: 60px;
    margin-top: 70px;
}
/************************************* icons ******************************************/
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Icons-con{
    margin-top: 40px;
}
.icons li{
    text-align: center;
 
}
.icons i{
    font-size: 45px;
    margin-bottom: 20px;
    color: gray;
} 
.icons p{
    color: gray ;
    font-size:20px ;
}
/************************************* slider1 ******************************************/
.products{
    text-align: center;
}
.products h2{
    padding: 30px 0px 50px 0px;

}
.owl-carousel {
    gap: 15px;
}
.owl-carousel  .text{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;

}
.owl-carousel  .text small{
    color: #9DD44F;
    
}
.owl-carousel .text span{
    color:black ;
    margin-left: 4px;
}
.owl-carousel  .btn{
    background-color: #EC6533;
    border-radius: 30px;
    padding: 7px;
    min-width: 150px;
    margin-top: 10px;
    color: white;
}
 
.owl-carousel  .owl-nav button.owl-next,
.owl-carousel  .owl-nav button.owl-prev{
 position: absolute;
 top: 10%;
 transform: translate(-50%);
 border-radius: 50px;
 line-height: 25px;

}
.owl-carousel  .owl-nav button.owl-next span,
.owl-carousel  .owl-nav button.owl-prev span{
 font-size: 100px;
 color: black;
}
.owl-carousel  .owl-nav button.owl-next{
 right: -5%;
 
}
.owl-carousel  .owl-nav button.owl-prev{
 left:-3%;
}
@media(max-width:990px){
    .owl-nav{
        display: none;
    }
}
/************************************* cards ******************************************/
.cards{
    background-image: url(../assets/imgs/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.cards .btn{
border-radius: 30px;
padding: 5px 35px;


}
.cards .row{
    justify-content: center;
}
.cards .card{
    border-radius: 20px;
    text-align: center;
    padding: 25px;
}
.cards .top{
    width: 24rem !important;
    margin-top: 40px;

}
.cards .left{
    margin-right: 25px;
}
.cards .bottom{
    width: 49rem !important;
    margin-top: 40px;
    padding: 25px 30px;


}
.cards .bottom img{
    height: 100% !important;
}
.cards p{
    color: gray;

}
.cards .top p{
    max-width: 120px;
}
.cards .card-body{
    text-align: -webkit-center;

}
.cards .card-title {
    margin-bottom: 25px;
    max-width: 250px;
    align-self: center;

}
@media (max-width:990px) {
    .cards .left{
        margin-right: 0px;
    }
    
}
/************************************* last ******************************************/
.last{
    background-image: url(../assets/imgs/last.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.last .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;

}
.last h2{
    color: white;
}
.last p{
    color: #EC6533;
    text-align: center;

}
.last .btn{
    border-radius: 25px;
    padding: 10px 33px;
    margin-top: 20px;
}
.last input{
    width: 450px;
    border-radius: 50px;
    height: 45px;
    margin-top: 5px;
    border-style: none;
}

.last input::placeholder {
    font-weight: bold;
    padding: 50px 20px;
    color: black;
   
  }
  @media(max-width:470px ){
    .last input{
        width: 300px ;
    }}
  /********************************************footer  ****************************************************/
  .footer input{
    border-radius: 30px;
    border-width: medium;
    margin-bottom: 15px;

  }
  .footer .btn-dark{
    border-radius: 30px;
    padding: 5px 30px;
  }
  .footer p{
    margin-top: 30px;
  }
  .footer .f-col{
    max-width: 220px;

  }
  .footer li{
    border-bottom: ridge;

  }
  .footer .f-l{
    background-color: black;
  }